ul.feedbackPanel
{
  width: 205px;
  float: right;
}

ul.feedbackPanel li
{
  background-color: #BB9F89;
  width:            200px; /*float:            right;*/
  text-align:       center;
  padding:          3px;
  list-style:       none;
}

ul.feedbackPanel li.feedbackPanelINFO
{
  color: #a52a2a;
}

ul.feedbackPanel li.feedbackPanelERROR
{
  color: red;
  float: right;
}

table.medialistTable
{
  padding-top: 20px;
  width:       100%;
}

#dvrightpanel table.medialistTable td
{
  padding-left: 2px;
}

#dvrightpanel table.medialistTable tr:hover
{
  background-color: #BB9F89;
}

#dvrightpanel table.medialistTable td.consumed,
#dvrightpanel table.medialistTable th.consumed
{
  text-align: center;
}

#dvrightpanel div.toggleButton
{
  display:          block;
  width:            65px;
  height:           20px;
  margin-top:       10px;
  padding:          4px;

  background-color: #BB9F89;
}

div.searchField
{
  background-color: white;
  width:            140px;
  padding:          3px;
  margin-left:  200px;
}

div.searchField form input.searchInput
{
  width:  90px;
}