<wicket:panel>
  <span wicket:id="message">[message]</span>
  <div style="border:1px dotted black;padding:4px; margin:4px;">
    <wicket:container wicket:id="child"></wicket:container>
  </div>
</wicket:panel>