<wicket:extend>
<form wicket:id="form">
  <table>
    <tr>
      <td>
        <label wicket:id="typeLabel">[number]</label>
      </td>
      <td>
        <select wicket:id="type"/>
      </td>
    </tr>
    <tr>
      <td>
        <label wicket:id="titleLabel">[title]</label>
      </td>
      <td>
        <input wicket:id="title"/>
      </td>
    </tr>
    <tr>
      <td>
        <label wicket:id="numberLabel">[number]</label>
      </td>
      <td>
        <input wicket:id="number"/>
      </td>
    </tr>
    <span wicket:id="authorRow">[row for authors]</span>
    <tr>
      <td>
        <label wicket:id="consumedLabel">[number]</label>
      </td>
      <td>
        <input wicket:id="consumed" type="checkbox"/>
      </td>
    </tr>
    <tr>
      <td>
        <label wicket:id="descriptionLabel">[number]</label>
      </td>
      <td>
        <textarea wicket:id="description" rows="5" cols="20">
          description
        </textarea>
      </td>
    </tr>
  </table>
  <input type="submit" wicket:id="save" value="save"/>
  <input type="submit" wicket:id="saveAndNew" value="save and enter new one"/>
  <input type="submit" wicket:id="delete" value="delete"/>

  <div class="toggleButton" id="toggleAdvanced">Advanced</div>
  <table id="advancedTable">
    <tr>
      <td>
        <label>Publisher:</label>
      </td>
      <td>
        <input type="text"/>
      </td>
    </tr>
    <tr>
      <td>
        <label>PublishingDate:</label>
      </td>
      <td>
        <input wicket:id="publishingDate" type="text"/>
      </td>
    </tr>
  </table>



  <div class="line">
    <img wicket:id="h_line.jpg" alt="" width="535" height="1" title=""/>
  </div>

</form>
</wicket:extend>