<wicket:extend>
  <form wicket:id="listForm">
    <table cellspacing="0" class="medialistTable">
      <tr>
        <th>Title</th>
        <th>Number</th>
        <th>Author</th>
        <th class="consumed">consumed</th>
        <th></th>
      </tr>
      <tr wicket:id="mediarow">
        <td>
          <a wicket:id="editLink">
            <span wicket:id="title">[title]</span>
          </a>
        </td>
        <td><span wicket:id="number">[number]</span></td>
        <td><span wicket:id="author">[author]</span></td>
        <td class="consumed"><input type="checkbox" wicket:id="consumed"/></td>
        <td><span wicket:id="action">[action]</span></td>
      </tr>
    </table>
    <span wicket:id="pager">[dataview pager]</span>
  </form>
</wicket:extend>