<wicket:head>
  <!--extend with markup header-->
</wicket:head>
<wicket:extend>
  <div style="background-color:#ffcccc;padding:4px;">
    <span wicket:id="message2">[message 2]</span>
    <wicket:child/>
  </div>
</wicket:extend>