<wicket:head>
  <!--override with markup header-->
</wicket:head>

<wicket:panel>
  <div style="border: 1px solid blue;background-color:#eeeeff; padding:4px;">
    <div style="font-weight:bold;">
      Override (<i>
      <span wicket:id="message">[Message]</span>
      </i>)
    </div>
  </div>
</wicket:panel>